<nav id="sidebar" th:fragment="side_bar">
    <div class="p-4 pt-5">
        <div th:if="${#authorization.expression('isAuthenticated()')}">
            <p style="text-align: center;">
                <span th:text="${principalInfo.firstname}">                  
                </span> <span th:text="${principalInfo.lastname}"></span>
            </p>
            <a th:href="@{'/details/users/' + ${principalInfo.id}}" class="img logo rounded-circle mb-5" th:style="'background-image: url(' + ${principalInfo.image} + ');'"></a>
            <a style="text-align: center;" class="nav-link" th:href="@{/}"><span th:text="${#authentication.name}"></span></a>
            <form th:action="@{/logout}" method="post">
                <p style="text-align: center;">
                    <input type="submit" value="Logoff" class="btn btn-danger" />
                </p>
            </form>
        </div>
        <div th:unless="${#authorization.expression('isAuthenticated()')}">
            <p style="text-align: center;">
                <a th:href="@{/loginPage/}" class="btn btn-success">Sign In</a>
                <!--<a th:href="@{/register}" class="btn btn-info">Register</a>-->
            </p>
        </div>
        <ul class="list-unstyled components mb-5">
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Home 1</a>
                    </li>
                    <li>
                        <a href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li th:if="${#authorization.expression('isAuthenticated()')}">
                        <a th:if="${principalInfo.fkuserRoleuserId.name == 'ROLE_ADMIN'}" th:href="@{/admin/index/User/}">User</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>

        <div class="footer">
            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>

    </div>
</nav>
