<section xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
         layout:decorate="~{default-layout.html}" 
         layout:fragment="content">
    <title th:text="'Đổi mật khẩu'">Default</title>
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="card text-center mb-5" style="width: 400px;">
            <div class="card-header h5 text-white bg-primary">Change Password</div>
            <div class="card-body px-5">
                <form th:action="@{/admin/update/password}" method="post" th:object="${user}" enctype="multipart/form-data" onsubmit="return matchPassword(event)">
                    <input type="hidden" th:field="*{image}" />
                    <input type="hidden" th:field="*{id}" />
                    <input type="hidden" th:field="*{createdDate}" />
                    <input type="hidden" th:field="*{fkuserRoleuserId}" />
                    <input type="hidden" th:field="*{password}" />
                    <input type="hidden" th:field="*{username}" />
                    <input type="hidden" th:field="*{firstname}" />
                    <input type="hidden" th:field="*{lastname}" />
                    <input type="hidden" th:field="*{email}" />

                    <div th:if="${msgErrShow}">
                        <p class="justify-content-center" id="message1" style="color:red; text-align: center;">
                            <span th:text="${msgErrShow}"></span><br/><br/>
                        </p>
                    </div>
                    <div class="form-outline">
                        <input th:field="*{oldPassword}" type="password" id="oldpassword" class="form-control my-3" placeholder="Old password"/>
                    </div>
                    <div class="form-outline">
                        <input th:field="*{newPassword}" type="password" id="newpassword" class="form-control my-3" placeholder="New password"/>
                    </div>
                    <div class="form-outline">
                        <input id="passwordconfirm" type="password" class="form-control" placeholder="Repeat password" />
                    </div>
                    <div class="d-flex justify-content-between mt-4">
                        <button type="submit"
                                class="btn btn-info btn-block btn-lg gradient-custom-4 text-body">
                            Change
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function matchPassword() {
            // Lấy các giá trị của các trường nhập liệu.
            var oldpassword = document.getElementById("oldpassword").value;
            var newpassword = document.getElementById("newpassword").value;

            var passwordconfirm = document.getElementById("passwordconfirm").value;
            // Kiểm tra xem password có trống hay không.
            if (oldpassword === "") {
                alert("Vui lòng nhập mật khẩu cũ của bạn.");
                return false;
            }
            if (newpassword === "") {
                alert("Vui lòng nhập mật khẩu mới của bạn.");
                return false;
            }
            // Kiểm tra xem passwordconfirm có trống hay không.
            if (passwordconfirm === "") {
                alert("Vui lòng nhập lại mật khẩu mới của bạn.");
                return false;
            }

            // Kiểm tra xem password và passwordconfirm có khớp nhau hay không.
            if (newpassword !== passwordconfirm) {
                alert("Mật khẩu không khớp.");
                return false;
            }

            if (!allConditionsMet) {
                alert("Có lỗi xảy ra, vui lòng kiểm tra lại thông tin.");
                event.preventDefault(); // Ngăn form gửi dữ liệu lên server
            }
            // Nếu tất cả các điều kiện đều được đáp ứng, thì trả về true để gửi form.
            return true;
        }


    </script>  
</section>

