<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"  
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:replace="fragments/head :: html_head">
    </head>
    <body>
        <div class="wrapper d-flex align-items-stretch">
            <div th:replace="fragments/sidebar :: side_bar"></div>

            <div id="content" class="p-4 p-md-5">
                <section class="container">
                    <div th:replace="fragments/header :: header"></div>
                    <section layout:fragment="content">
                        <p>Page content goes here</p>
                    </section>
                    <div th:replace="fragments/footer :: footer"></div>
                </section>
            </div>
            <div th:replace="fragments/script :: script"></div>
        </div>
    </body>
</html>

